<div>
  <img class="girl-global-logo" src="assets/logo.png">
  <div [routerLink]="'/new-meal'">
    <img class="ellipse" src="assets/Ellipse.png">
    <img class="addMeal" src="assets/add_24px.png">
  </div>
  <div class="leftBlock">
    <img class="gearLogo" src="assets/dashboard-logo.svg" [routerLink]="'/settings'">
    <select class="selectMonth" [(ngModel)]="currentMonthName">
      <option disabled>August</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <div class="time mt-2">8:00</div>
    <div class="time">9:00</div>
    <div class="time">10:00</div>
    <div class="time">11:00</div>
    <div class="time">12:00</div>
    <div class="time">13:00</div>
    <div class="time">14:00</div>
    <div class="time">15:00</div>
    <div class="time">16:00</div>
    <div class="time">17:00</div>
    <div class="time">18:00</div>
    <div class="time">19:00</div>
    <div class="time">20:00</div>
  </div>
  <div class="container">
    <div class="d-flex flex-row header">
      <div class="totalCalories" *ngFor="let total of totalSummary">
        <div [ngClass]="total.totalKcal < setting.minKcal
                                                 ? 'shortage'
                                                 : (total.totalKcal <= setting.maxKcal
                                                    ? 'allGood'
                                                    : 'overkill')">
          {{total.totalKcal == 0 ? '': total.totalKcal}}
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="number-of-day" *ngFor="let item of week; let i=index">
        <div [ngClass]="item.day === currentDayNum? (item.day >= 10? 'today2digits' : 'today') :''" (click)="onSelectDay(i)">
          {{item.day}}
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="name-of-day" (click)="onSelectDay(0)">Mon</div>
      <div class="name-of-day" (click)="onSelectDay(1)">Tue</div>
      <div class="name-of-day" (click)="onSelectDay(2)">Wed</div>
      <div class="name-of-day" (click)="onSelectDay(3)">Thu</div>
      <div class="name-of-day" (click)="onSelectDay(4)">Fri</div>
      <div class="name-of-day" (click)="onSelectDay(5)">Sat</div>
      <div class="name-of-day" (click)="onSelectDay(6)">Sun</div>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column mt-3 dayBlock">
        <app-meal class="day" *ngFor="let item of monday" [meal]="item.meal" [isExist]="item.isExist"></app-meal>
      </div>
      <div class="d-flex flex-column mt-3 dayBlock">
        <app-meal class="day" *ngFor="let item of tuesday" [meal]="item.meal" [isExist]="item.isExist"></app-meal>
      </div>
      <div class="d-flex flex-column mt-3 dayBlock">
        <app-meal class="day" *ngFor="let item of wednesday" [meal]="item.meal" [isExist]="item.isExist"></app-meal>
      </div>
      <div class="d-flex flex-column mt-3 dayBlock">
        <app-meal class="day" *ngFor="let item of thursday" [meal]="item.meal" [isExist]="item.isExist"></app-meal>
      </div>
      <div class="d-flex flex-column mt-3 dayBlock">
        <app-meal class="day" *ngFor="let item of friday" [meal]="item.meal" [isExist]="item.isExist"></app-meal>
      </div>
      <div class="d-flex flex-column mt-3 dayBlock">
        <app-meal class="day" *ngFor="let item of saturday" [meal]="item.meal" [isExist]="item.isExist"></app-meal>
      </div>
      <div class="d-flex flex-column mt-3 dayBlock">
        <app-meal class="day" *ngFor="let item of sunday" [meal]="item.meal" [isExist]="item.isExist"></app-meal>
      </div>
    </div>
  </div>
</div>
