<div>
  <img class="girl-global-logo" src="assets/logo.png">
  <div class="cancel-global" (click)="onCancel()">Back</div>
  <div class="title-global">{{meal.title}}</div>
  <div class="page-container">
    <div class="labels-global">Time</div>
    <div class="labels-global values">{{meal.time}}</div>
    <div class="labels-global">Kcal</div>
    <div class="labels-global values">{{meal.kcal}}</div>
    <div class="labels-global">Fats (gm)</div>
    <div class="labels-global values">{{meal.fats}}</div>
    <div class="labels-global">Proteins (gm)</div>
    <div class="labels-global values">{{meal.proteins}}</div>
    <div class="labels-global">Carbohydrates (gm)</div>
    <div class="labels-global values">{{meal.carbs}}</div>
    <img class="imagePlaceholder mt-1" [src]="imgURL">
  </div>
</div>
